/* Barre de navigation */

header > div.menu-bar {
    background: linear-gradient(#001E29, #000000);
}

header.home {
    height: 850px;
    background-image: url(../../img/bg-home.png);
    background-size:cover;
    background-position: bottom center;
    border-bottom-right-radius: 50% 2.5%;
    border-bottom-left-radius: 50% 2.5%
}

header.home > div.intro {
    position: relative;
    top: 25%;
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    vertical-align: center;
    background-image: url(../../img/logo-curves.png);
    background-size: cover;
    background-position: center;
}

header.home > div.intro > div.central {
    position: relative;
    top: 65px;
}

header.home > div.intro > div.central > h2 {
    text-align: center;
    font-size: 16px;
    color: white;
}

#logo-large {
    margin: auto;
    display: block;
}

#arrow-next {
    position: relative;
    top: 250px;
    display: block;
    margin: auto;
}

#nav-logo {
    padding: 14px;
}

#nav-bars {
    position: absolute;
    right: 17px;
    top: 19px;
}

.home-quotes {
    position: relative;
    top: -27.5px;
}

.home-quotes > div > h4 {
    display: block;
    margin: auto;
    background: linear-gradient(#A3EFD9, #9FF9C6);
    background-color: rgba(0, 0, 0, .42);
    border-radius: 20px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

.home-quotes > .art4 {
    margin-bottom: 30px;
}

button {
    position: relative;
    padding-right: 2rem;
    border: none;
    border-radius: 16px;
    min-width: 315px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.home-quotes > div > button {
    background: linear-gradient(#76F6AE, #23D9A5);
}

.suggest > button {
    background: linear-gradient(#19B0E6, #148DB8);
}

.about > button {
    background: linear-gradient(#76F6F6, #19B0E6);
}


button::after {
    content: ">";
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: white;
    border-radius:100%;
    font-size: 1.5rem;
    width: 1.75rem;
    height: 1.75rem;
}

form > input {
    font-family: "Roboto Thin", sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #19B0E6;
    border-radius: 5px;
    min-width: 344px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: 17px;
    margin-right: 17px;
}

form > input#message {
    height: 382px;
}