/* Barre de navigation */

header > div.menu-bar {
    background: linear-gradient(#001E29, #000000) ;
}

object#nav-logo {
    padding: 14px;
}

object#nav-bars {
    position: absolute;
    right: 17px;
    top: 19px;
}