/* importation des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* début des définitions de style */

header.home>h2 {
    text-align: center;
}


h2 {
    color: #0F6A8A;
    font-family: "Fira Code", sans-serif;
    font-size: 21px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    color: #0F6A8A;
    font-family: "Fira Code", sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

div.home-quotes>div>h3 {
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

a {
    text-decoration: none;
}

.menu-content {
    text-align: right;
}

.menu-content > h1 {
    font-family: "Fira Code", serif;
    font-size: 28px;
}

.menu-content > ul > li > a {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.menu-content > p {
    font-family: "Fira Code", serif;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
}

div.home-quotes>div {
    text-align: center;
    margin-bottom: 76px;
}

button {
    color: black;
    font-family: "Fira Code", sans-serif;
}

.art4 > button > a {
    font-size: 0.95em;
}

main.about > div.projects > button {
    font-family: Roboto, sans-serif;
    text-align: left;
    text-indent: 20px;
}

div.home-quotes>div>p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

div.home-quotes>div>img {
    border-radius: 50%;
}

form > input, form > textarea {
    font-family: "Roboto Thin", sans-serif;
}

footer>div.end>p {
    font-size: 10px;
    line-height: normal;
}

footer>div.end>p:nth-child(2) {
    font-style: italic;
}